
<div class="container">
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            ngModel
            class="form-control"
            name="username">
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email"
            ngModel
            class="form-control"
            name="email">
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
              ngModel
              [value]="gender">{{ gender }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 200. Reactive: Setup </h5>
          <p class="card-text"> Now as I said, in the reactive approach, the form is created programmatically. </p>
          <p class="card-text">We need to import <code>import &#123;FormGroup} from '@angular/forms';</code></p>
          <p class="card-text">We need also to import into the app.module <code>import &#123;ReactiveFormsModule} from '@angular/forms';<br>
            imports: [<br>
            BrowserModule,<br>
            <b>ReactiveFormsModule</b><br>
            ],<br></code></p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 201. Reactive: Creating a Form in Code </h5>
          <p class="card-text"> You should initialize it before rendering the template of course, so make sure to use a lifecycle hook which is called before the template is rendered. Here I will set up my signupForm and I will set it equal to, to what? Well keep in mind, signupForm is of type FormGroup, so we need to create a new FormGroup here, just like this. Now we have almost a valid form, we need to pass a Javascript object here and we're theoretically done, this is our first created form. This Javascript object configures it and as it's empty, it simply says or it tells Angular. <code>ngOnInit(): void &#123;<br>
            this.signupForm = new FormGroup(&#123;});<br>
            }</code></p>
          <p class="card-text">      I should say. So I will set up or create a new FormControl here and FormControl should also be added from the forms package, from @angular/forms. Now to this FormControl constructor, we can pass a couple of arguments, the first argument is the initial state, the initial value of this control you could say. The second argument will be a single validator or an array of validators we want to apply to this control, I'll come back to this. The third argument will be potential asynchronous validators, I will also come back to this later.
            <br><code> ngOnInit(): void &#123;<br>
              this.signupForm = new FormGroup(&#123;<br>
              'username': new FormControl(null),<br>
              'email': new FormControl(null),<br>
              'gender': new FormControl('male'),<br>
              });<br>
              }</code></p>
        </div>
      </div>

      <!--
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson xxx -> </h5>
          <p class="card-text"> - </p>
          <p class="card-text"> <code>routerLink="/servers" </code></p>
        </div>
      </div>
-->





    </div>
  </div>
</div>

