
<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
            <span
              *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
              class="alert-danger">
              <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">This name is invalid!</span>
            <span *ngIf="signupForm.get('userData.username').errors['required']">This field is required!</span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email">
            <span
              *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
              class="alert-danger">Please enter a valid email!</span>
          </div>
        </div>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <span
          *ngIf="!signupForm.valid && signupForm.touched"
          class="alert-danger">Please enter a valid data!</span><br>

        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button
            class="btn btn-primary"
            type="button"
          (click)="onAddHobby()">Add Hobby</button>
          <div class="form-group"
               *ngFor="let hobbyControl of getControls(); let i = index" >
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 200. Reactive: Setup </h5>
          <p class="card-text"> Now as I said, in the reactive approach, the form is created programmatically. </p>
          <p class="card-text">We need to import <code>import &#123;FormGroup} from '@angular/forms';</code></p>
          <p class="card-text">We need also to import into the app.module <code>import &#123;ReactiveFormsModule} from '@angular/forms';<br>
            imports: [<br>
            BrowserModule,<br>
            <b>ReactiveFormsModule</b><br>
            ],<br></code></p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 201. Reactive: Creating a Form in Code </h5>
          <p class="card-text"> You should initialize it before rendering the template of course, so make sure to use a lifecycle hook which is called before the template is rendered. Here I will set up my signupForm and I will set it equal to, to what? Well keep in mind, signupForm is of type FormGroup, so we need to create a new FormGroup here, just like this. Now we have almost a valid form, we need to pass a Javascript object here and we're theoretically done, this is our first created form. This Javascript object configures it and as it's empty, it simply says or it tells Angular. <code>ngOnInit(): void &#123;<br>
            this.signupForm = new FormGroup(&#123;});<br>
            }</code></p>
          <p class="card-text">      I should say. So I will set up or create a new FormControl here and FormControl should also be added from the forms package, from @angular/forms. Now to this FormControl constructor, we can pass a couple of arguments, the first argument is the initial state, the initial value of this control you could say. The second argument will be a single validator or an array of validators we want to apply to this control, I'll come back to this. The third argument will be potential asynchronous validators, I will also come back to this later.
            <br><code> ngOnInit(): void &#123;<br>
              this.signupForm = new FormGroup(&#123;<br>
              'username': new FormControl(null),<br>
              'email': new FormControl(null),<br>
              'gender': new FormControl('male'),<br>
              });<br>
              }</code></p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 202. Reactive: Syncing HTML and Form</h5>
          <p class="card-text">  Now this simply tells Angular, hey please take my formGroup, don't infer one, don't create a form for me, use my formGroup and we need to set up property binding here because we need to pass our form as an argument to the directive. <code>      &#60;form [formGroup]="signupForm"></code> signupForm is the reference to the app.component.ts <code> signupForm: FormGroup;</code></p>
          <p class="card-text">We're passing this via property binding to the formGroup and now this form is actually synchronized with the form we created in TypeScript but we still need to tell Angular which controls should be connected to which inputs in the template code, for this we get another directive. Well the name is username, this name here because that's the control I want to connect to this input, so I simply pass username here. <code>formControlName="username" </code></p>
          <p class="card-text">So if you want to use property binding, you can do this by wrapping this in square brackets and then enclosing the username in single quotation marks <code>[formControlName]="'username'"</code> otherwise it would search for a property named username but this is overly complicated, if you just want to pass a string, simply omit the square brackets and you're good to go.</p>
        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 203. Reactive: Submitting the Form </h5>
          <p class="card-text"> - </p>
          <p class="card-text">Well we still do the same here because we still want to react to this default submit event which is fired by HTML, by Javascript. So we still add ngSubmit here and we could execute an onSubmit method, any method you like. <code>&#60;form [formGroup]="signupForm" (ngSubmit)="onSubmit()"> </code></p>
          <p class="card-text"> So you can bind it to your own model, the model of your application and easily make sure that the form  structure matches the structure of your model. So this is how you can submit the form, how you can still access the value as you did before but now using your own form, the form you created in TypeScript. </p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 204. Reactive: Adding Validation </h5>
          <p class="card-text"> Now that we're able to submit a form, let's actually add some validation to it.  </p>
          <p class="card-text">in the reactive approach because keep in mind and that's key, you're not configuring the form in the template, you're only synchronizing it with the directives, formControlName and formGroup but you're not configuring it here, the TypeScript code, that's where you configure it. That is why FormControl takes more than one argument, this constructor here.</p>

          <p class="card-text"> So you can either only pass one validator here, like for username where I only want to make sure that it is required and you do this by adding the validators object, make sure to import it from @angular/forms and there, you get a couple of built-in validators you can use, for example required. <code>'username': new FormControl(null, Validators.required), </code> Now make sure to not call it, to not execute it, so don't have parentheses after it because you don't want to execute this method, it is a static method made available by validators here, instead you only want to pass the reference to this method. Angular will execute the method whenever it detects that the input of this FormControl changed, so it just needs to have a reference on what it should execute at this point of time.</p>
          <p class="card-text">It is possible also to pass an Array of validator  <code>'email': new FormControl(null, [Validators.required, Validators.email]),</code></p>


        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 205. Reactive: Getting Access to Controls</h5>
          <p class="card-text">The get method allows us to get access to our controls easily, here you can either specify the control name or I will come back to this later, the path to the control. Now for now the path is the name because we only have one level of nesting in our form object and here, the name is username. So this gives us access to this username control and now valid holds whether this control is valid or not. <code>&#60;span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched" class="alert-danger">Please enter a valid username!&#60;/span></code> So this is how easy you can get access to a control in your form with this get helper method.</p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 206. Reactive: Grouping Controls </h5>
          <p class="card-text"> In the last lecture, I was already mentioning that get also takes the path to an element. What did I mean with that? It's very simple, you can specify a path here because you might have a nested form. Let's say username and e-mail should be inside a FormGroup, we used such forms in the template driven approach too. </p>
          <p class="card-text">So here we could have a FormGroup which of course like the outer FormGroup for the overall form, also takes a Javascript object and now we can add our form controls inside of this group, so now we have a nested form.
            <br><code> this.signupForm = new FormGroup(&#123;<br>
              'userData': new FormGroup(&#123;<br>
                  'username': new FormControl(null, Validators.required),<br>
                  'email': new FormControl(null, [Validators.required, Validators.email]),<br>
              }),<br>
            'gender': new FormControl('male'),<br>
            });</code></p>
          <p class="card-text">To be able to get information form the form now, we have to nested the 'username' and 'email' data into a formGroupName like: <code>&#60;div formGroupName="userData"></code></p>
          <p class="card-text">For the get() we have to select the right path <code> &#60;span
            *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
            class="alert-danger">Please enter a valid username!&#60;/span></code></p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 208. Reactive: Arrays of Form Controls (FormArray)</h5>
          <p class="card-text"> Check the video <a href="https://www.udemy.com/the-complete-guide-to-angular-2/learn/lecture/6656514#content" target="_blank">https://www.udemy.com/the-complete-guide-to-angular-2/learn/lecture/6656514#content</a></p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 209. Reactive: Creating Custom Validators</h5>
          <p class="card-text"> A validator in the end is just a function which gets executed by Angular automatically when it checks the validity of the FormControl and it checks that validity whenever you change that control. So a validator is just a function, let's name it forbiddenNames. Now a validator to work correctly needs to receive an argument which is the control it should check,  so this will be of type FormControl, a validator also needs to return something for Angular to be able to handle the return value correctly. </p>
          <p class="card-text"> <code>forbiddenNames(control: FormControl): &#123;[s: string]: boolean}</code>So a validator is just a function, let's name it forbiddenNames. Now a validator to work correctly needs to receive an argument which is the control it should check, so this will be of type FormControl, a validator also needs to return something for Angular to be able to handle the return value correctly. This something should be a Javascript object and now the following notation might look strange,  it should have any key which can be interpreted as a string and this is just TypeScript syntax for saying hey we want to have a key-value pair where the key again can be interpreted as a string which is true for a key in an object in general. More importantly, the value of that key-value pair, that should be a boolean.</p>
          <p class="card-text">So this function here should return something like let's say an object where we have name is forbidden, this would be the key name which is interpreted as a string and it could be true. So this is what this function should return in the end for example, the message itself, the key name is up to us and therefore we can now add the logic in this function. In our case here, I want to check if the value of the control is part of this forbiddenUsernames array. <code>routerLink="/servers" </code></p>
          <p class="card-text"> So I want to check if this forbiddenUsernames indexOf, so if it contains a certain element and the element is the value of our control we pass here, the control we're checking. If this is the case, I want to return an object where I say name is forbidden, any short error code you want, is true. Now in the other case, I want to return null and now this is important, if validation is successful, you have to pass nothing or null, you should not pass this object with false. This might sound counter-intuitive but that's just how it works, it should be null or you simply omit the return statement. This is how you tell Angular that the FormControl is valid.
            <code>if (this.forbiddenUsernames.indexOf(control.value)) &#123;<br>
              return &#123;'nameIsForbidden': true};<br>
              } else &#123;<br>
              return null;<br>
              }</code> Well then this is all, we created our own form validator, our own validator here. Important, it receives the control and it returns this object with an error code and then true for example if it is invalid.</p>

          <p class="card-text"> Let's now check the validity of this input  here, it is invalid but if I enter test here, it stays invalid. The reason for this is that right now I'm checking if control value is part of this array, this will return -1 if it is not part, well -1 is interpreted as true though. So we need to check if this is not equal to -1. So if this is not equal to -1, that means we did find it, that means it is invalid. <code>if (this.forbiddenUsernames.indexOf(control.value) !== -1)</code></p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 210. Reactive: Using Error Codes </h5>
          <p class="card-text"> This is an example how to handler the errors:</p>
          <p class="card-text"> <code>&#60;span
            *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
            class="alert-danger"><br>
            &#60;span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">This name is invalid!&#60;/span><br>
            &#60;span *ngIf="signupForm.get('userData.username').errors['required']">This field is required!&#60;/span>
            &#60;/span></code></p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson  211. Reactive: Creating a Custom Async Validator</h5>
          <p class="card-text"> So we also kind of need asynchronous validators which are able to wait for a response before returning true or false, is it valid or not, turns out we can create such asynchronous validators. So let's create one here in the app component, I'll name it forbiddenEmails, this asynchronous validator also takes the control as an argument. </p>
          <p class="card-text">check the  <code>forbiddenEmails()</code> in the component</p>
          <p class="card-text"> Check the lesson <a href="https://www.udemy.com/the-complete-guide-to-angular-2/learn/lecture/6656522#content" target="_blank">https://www.udemy.com/the-complete-guide-to-angular-2/learn/lecture/6656522#content</a> </p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 212. Reactive: Reacting to Status or Value Changes</h5>
          <p class="card-text"> There actually is a form state you can track in general, I'll do this here in ngOnInit. On my signupForm and on each control of this form, so on get any control too, you have two observables you can listen to, statusChanges and valueChanges. </p>
          <p class="card-text"> <code>ngOninit()&#123; <br>
            this.signupForm.valueChanges.subscribe(<br>
  (value) => console.log(value)<br>
);<br>
          }</code></p>
    </div>
  </div>




  <!--
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Lesson xxx -> </h5>
      <p class="card-text"> - </p>
      <p class="card-text"> <code>routerLink="/servers" </code></p>
    </div>
  </div>
-->






</div>
</div>
</div>

